*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(225, 219, 214);
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
.port {
width: 950px;
font-size: 34;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #555

}

.logo{    
    cursor: pointer;   
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: #AA3815;
}

nav li:hover{
    transform: scale(1.2);
    transition: 0.8s;
}